# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Default ignored files
/shelf/
/.idea/workspace.xml

# Intellij
**/.idea/**
*.iml
*.iws

# Maven
log/
/target/**
.idea/libraries/lib.xml

